SECRET_KEY='v)35ywxk3uq&m6w&^yi#^ysk9vdr=shr*c4-x-je*ep3lb_*jm'
DJANGO_SETTINGS_MODULE=email_app.settings
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_NAME=email_db
DB_USER=email_admin
DB_PASSWORD=EmailApp123
DB_HOST=db
MQ_HOST=broker
CHANNELS_HOST=channels
PORT=8000
API_HOST='https://probe.fbrq.cloud/v1/send/'
API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg3NjgyNjUsImlzcyI6ImZhYnJpcXVlIiwibmFtZSI6Imh0dHBzOi8vdC5tZS9teXRvbmd1ZXMifQ.Z5mzGzeVyr_Pfc7tRpAfIEa5QHgAr9OEHhv7JFFzalg'
LOG_FILE=./email_app.log
LOG_LEVEL=INFO